<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Home</title>
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="css/index_style.css">
	<link rel="stylesheet" type="text/css" href="css/nav_style.css">
	<link rel="stylesheet" type="text/css" href="css/footer_style.css">
	<!-- Bootstrap/fontAwesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!-- font -->
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
  <!-- Firebase -->
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-auth.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
       https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-firestore.js"></script>

  <script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCTdSk92DMIVx0dzjt6XVWob8DjmivJgvg",
    authDomain: "donatemed-3fcd6.firebaseapp.com",
    databaseURL: "https://donatemed-3fcd6.firebaseio.com",
    projectId: "donatemed-3fcd6",
    storageBucket: "donatemed-3fcd6.appspot.com",
    messagingSenderId: "617277227692",
    appId: "1:617277227692:web:8260565216f6fbc49ed509",
    measurementId: "G-R7EK7XS4QN"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.firestore();
</script>

</head>
<body>
<!-- nav -->
<script src="./js/header.js"></script>
<script src="./js/headerFunction.js"></script>
<section class="Container">
  <!-- Title -->
	<div class="container-fluid">
    	<div class="row">
        <div class="col-md-8 col-md-offset-2">
    			<div class="btnContainer">
    				<a :href="donateHref">I Want to Donate</a>
    				<a :href="proposeHref">Seek for Resources</a>
          </div>
			</div>
		</div><!-- row -->    
	</div><!-- container-fluid(for Title) -->
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-md-8 col-md-offset-2">
    		 	<div class="dropdown">
    		    	<button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Filter
    		    	<span class="caret"></span></button>
    		    	<ul class="dropdown-menu dropdown-menu-right" style="right:0; min-width: 100px">
    		    		<li @click="filter('needed')"><a href="#">Needed</a></li>
    		     		<li @click="filter('progress')"><a href="#">Progress</a></li>
    		   		</ul>
    		  	</div><!-- dropdown -->
    		  	<div class="search-container">
              <form @submit.prevent="searchItem" action="/action_page.php">
    			     	<input v-model="searchInput" type="text" placeholder="Search" name="search" @keypress.enter="searchItem">
    			     	<button type="submit" @submit="searchItem"><i class="fa fa-search"></i></button>
    			    </form>
    			</div><!-- search -->    			
		</div><!-- row -->    
	</div><!-- container-fluid(for Title) -->    
	<!-- Content -->
	<div class="container-fluid" style="padding: 0">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 columns" style="padding: 0">
          <item v-for="item of itemList" :item="item" :srcs="imgSrcs" :user="user"></item>
      </div>
    </div><!-- row -->    
	</div><!-- container-fluid(for Content) -->	
</section>
<!-- footer -->
<script src="./js/footer.js"></script>
<!-- Vue -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- main script -->
<script src="./js/index.js"></script>
<!-- Js -->
<script>
/*===========filter drop down===========*/
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $(".dropdown-menu li").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
	// var nav = responsiveNav(".nav-collapse");
</script>
</body>
</html>